#group-signup-link-field,
.groups-pop .swal2-input {
  width: 100%;
  margin: 25px 0 0 0;
  font-size: 14px;
}

tr.deactivated {
  background: #d3d3d3;
  color: #808080;
}

/** Popup Styles **/
.groups-pop .swal2-close {
  position: absolute;
}

.groups-pop .error {
  display: none;
  background: #f94444;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 13px;
  padding: 5px;
}

.groups-pop .form-group {
  margin-bottom: 15px;
  text-align: left;
}

.groups-pop .form-group label {
  display: block;
  font-size: 14px;
}

.groups-pop .form-group input {
  display: block;
  width: 100%;
  font-size: 14px;
  margin: 0;
}


/* Styling for group leader table filters */
.filter-header.active {
  font-weight: 900;
  border-bottom: 2px solid #000;
}

.filter-header.order-asc:after,
.filter-header.order-desc:after {
  content: ' ';
  position: relative;
  left: 12px;
  border: 5px solid transparent;
}

.filter-header.order-desc:after {
  bottom: 12px;
  border-bottom-color: #333;
}

.filter-header.order-asc:after {
  top: 12px;
  border-top-color: #333;
}

.filter-header:hover {
  cursor: pointer;
  font-weight: 800;
}
